<h1>Add photo</h1>
<form class="add-photo-form" [formGroup]="photosRecordForm">
  <label
    >Title
    <input formControlName="title" placeholder="Title" />
  </label>
  <label
    >Album ID
    <input formControlName="albumId" placeholder="Album ID" />
  </label>
  <label
    >Photo url
    <input formControlName="url" placeholder="Photo url" />
  </label>
  <label
    >Thumbnail url
    <input formControlName="thumbnailUrl" placeholder="Thumbnail url" />
  </label>

  <div mat-dialog-action [align]="'end'">
    <button class="cancel" (click)="close()">Cancel</button>
    <button class="save" (click)="addPhotoRecord()">Save</button>
  </div>
</form>
