:host{
    display:block;
    max-width: 1300px;
    margin:0 auto;
    
    text-align: left;
}

table{
    width:100%;
}
.thumbnail{
    display: inline-block;
    height:50px;
    width:50px;
}
th.mat-header-cell,
td.mat-cell {
  padding: 0 10px;
}