<div class="table-wrapper">
  <div class="table-actions">

      <input (keyup)="applyFilter($any($event.target).value)" matInput placeholder="Filter by ID or title">
    
    <button class="add-btn" mat-button (click)="openAddPhotoDialog()">Add photo</button>
    
  </div>
  
 
  <table mat-table [dataSource]="photosList">
    <ng-container matColumnDef="thumbnailUrl">
      <th mat-header-cell *matHeaderCellDef>thumbnailUrl</th>
      <td mat-cell *matCellDef="let element">
        <img class="thumbnail" src="{{ element.thumbnailUrl}}" />
      </td>
    </ng-container>
    <ng-container matColumnDef="albumId">
      <th mat-header-cell *matHeaderCellDef>albumId</th>
      <td mat-cell *matCellDef="let element">
        {{ element.albumId }}
      </td>
    </ng-container>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>id</th>
      <td mat-cell *matCellDef="let element">
        {{ element.id }}
      </td>
    </ng-container>
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef class="title">title</th>
      <td mat-cell *matCellDef="let element">
        {{ element.title }}
      </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <div class="table-actions-wrapper">
        <button (click)="openEditDialog(element)"> <mat-icon aria-hidden="false" aria-label="Example home icon">edit</mat-icon></button>
         <button (click)="deleteRow($event,element)"> <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon></button>
        </div>
      </td>
    </ng-container>

    <tr class="table-header-row" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="emitPhoto(row.url)"
    ></tr>
  </table>
  <mat-paginator [pageSize]="5" hidePageSize="true"></mat-paginator>
</div>
