.photo-view-box{
    display: flex;
    justify-content: center;
    height: 415px;
    width: 415px;
    border: 1px solid var(--light-blue);
    h2{
        align-self: center;
        color:var(--light-blue);

    }
}